table {
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid darkgray;
}
td {
    width: 75px;
    height: 75px;
    margin: 0%;
    padding: 0%;
    border: 0px;
}

.blackcell {
    background-color: rgb(49, 46, 46);
    margin: 0%;
    padding: 0%;
    border: 0px;
}

.whitecell {
    background-color: white;
}

img {
    margin: 0%;
    padding: 0%;
    border: 0%;
    width: 100%;
    height: auto;
    display: block;

}